html, body {
    height: 99%;
    background: #252932;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: [col1-start] 20% [col1-end col2-start] auto [col2-end col3-start] 15% [col3-end];
    grid-template-rows: [row1-start] 30px [row1-end row2-end] auto [row2-end row3-start] 30px [row3-end row4-start] 20% [row4-end];
    grid-template-areas:
        "menu menu menu"
        "files code fragment"
        "files tabs tabs"
        "files options options";
    column-gap: 8px;
    row-gap: 8px;
}

.element {
    display: flex;
    background-color: #2F343F;
    color: #ECEFF4;
    text-align: left;
    padding: 15px;
    border-radius: 10px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

.menu {
    background: #3B4252;
    grid-area: menu;
    align-items: center;
    padding: 0;
}

.menu-button {
    background: #3B4252;
    color: #ECEFF4;
    border: none;

    height: 30px;
    width: 10%;
    border-radius: 10px;

    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    font-size: 15px;

    transition-duration: 0.2s;
}

.menu-button:hover {
    background-color: #4C566A;
    height: 35px;
    width: 12%;
    color: #ECEFF4;
}

.files {
    background: #3B4252;
    grid-area: files;
}

.code {
    background: #434C5E;
    grid-area: code;
}

.fragment {
    background: #3B4252;
    grid-area: fragment;
}

.tabs {
    background: #3B4252;
    grid-area: tabs;
    align-items: center;
    padding: 0;
}

.tabs-button {
    background: #3B4252;
    color: #ECEFF4;
    border: none;

    height: 30px;
    width: 10%;
    border-radius: 10px;

    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    font-size: 15px;

    transition-duration: 0.2s;
}

.tabs-button:hover {
    background-color: #4C566A;
    color: #ECEFF4;

    height: 35px;
    width: 15%;
}

.options {
    background: #3B4252;
    grid-area: options;
}