:root {
    --primary-color: #D8DEE9;
    --secondary-color: #ECEFF4;
    --trimary-color: #999;
    --text-color: #0D1117;
    --highlight-color: green;
    --button-hover-color: rgba(138, 168, 197);
}

.darkmode {
    --primary-color: #0D1117;
    --secondary-color: #161B22;
    --text-color: #D8DEE9;
    --button-hover-color: #4C566A;
    --highlight-color: greenyellow;
}

* {
    color: var(--text-color);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

body {
    background-color: var(--secondary-color);
}

.menu {
    background-color: var(--secondary-color);
}

.menu ol > li {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.menu ol > li:hover {
    background-color: var(--button-hover-color);
}

.menu ol > li > ul > li {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
}

.menu ol > li > ul > li:hover {
    background-color: var(--button-hover-color);
}

.dropdown {
    background-color: var(--secondary-color);
}

.add-name {
    background-color: var(--secondary-color);
}

#compile-submit {
    background-color: var(--secondary-color);
    border: none;
}

#compile-submit:hover {
    background-color: var(--button-hover-color);
}

.dropdown:hover {
    background-color: var(--button-hover-color);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.code {
    background-color: var(--secondary-color);
}

.code button {
    background-color: var(--secondary-color);
}

.code button:hover {
    background-color: var(--button-hover-color);
}

.code-editor {
    background-color: var(--secondary-color);
}

.code textarea {
    background-color: var(--secondary-color);
    
}

.files {
    background-color: var(--primary-color);
    border-right: 10px solid var(--secondary-color);
}

.files-content {
    background-color: var(--secondary-color);
}

.opened {
    color: var(--highlight-color);
}

.fragment {
    background-color: var(--primary-color);
    border-bottom: 10px solid var(--secondary-color);
}

.tabs {
    background-color: var(--primary-color);
}

.tabs-button {
    background-color: var(--primary-color);
}

.tabs-button:hover, .tabs-button.active {
    background-color: var(--button-hover-color);
}

.options {
    background-color: var(--primary-color);
    border-top: 10px solid var(--secondary-color);
}

::-webkit-scrollbar {
    background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--trimary-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--button-hover-color);
}

::-webkit-scrollbar-corner {
    background-color: var(--secondary-color);
}