:root {
    --font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

html, body {
    margin: 0;
    padding: 0;

    height: 100%;

    font-family: var(--font);
    font-size: 1em;
}

#grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: [col1-start] 17% [col1-end col2-start] auto [col2-end col3-start] 15% [col3-end];
    grid-template-rows: [row1-start] 30px [row1-end row2-end] auto [row2-end row3-start] 30px [row3-end row4-start] 20% [row4-end];
    grid-template-areas:
        "menu menu menu"
        "files code fragment"
        "files tabs tabs"
        "files options options";
    gap: 0;
}

@media(max-width: 660px){
    #grid-container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: [col1-start] 100% [col1-end];
        grid-template-rows: [row1-start] 30px [row1-end row2-end] auto [row2-end row3-start] auto
                            [row3-end row4-start] 10% [row4-end row5-start] 30px [row5-end row6-start] 20% [row6-end];
        grid-template-areas:
            "menu"
            "files"
            "code"
            "fragment"
            "tabs"
            "options";
        gap: 0;
    }
}

i {
    position: absolute;
    right: 10px;

    text-align: center;

    height: 30px;
    width: 30px;

    font-size: 1.4em;

    cursor: pointer;
}

.menu {
    grid-area: menu;
    text-align: left;
    padding: 0;
    margin: 0;
}

.menu ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100%;
    line-height: 30px;
    display: inline-block;
    text-align: center;
}

.menu ol a {
    text-decoration: none;
    display: block;
}

.menu ol > li {
    float: left;
    width: 100px;
    height: 100%;
}

.menu ol > li:hover {
    width: 151px;
}

.menu ol > li > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: none;
}

.menu ol > li:hover > ul {
    display: block;
}

.menu ol > li > ul > li {
    float: left;
    position: relative;
    z-index: 100;
    width: 150px;
}

.menu ol > li > ul > li:last-child {
    border-radius: 0 0 10px 10px;
}

.menu button.dark-mode-toggle {
    position: absolute;
    left: 95%;

    height: 30px;
    width: 30px;

    text-align: center;
}

.menu img.dark-mode-toggle {
    height: 30px;
    width: 30px;

    text-align: left;
}

.dropdown {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

    font-size: 1em;
}

.add-name {
    width: 90%;
}

#compile-submit {
    width: 100%;
    height: 30px;
    font: var(--font);
}

.files {
    grid-area: files;
    display: block;
}

.files-bar {
    display: flex;
    flex-direction: row;
    align-content: center;

    height: 30px;
    width: 100%;
    padding: 10px;
}

.files-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow: auto;

    border-radius: 10px;
    margin: 0 1vh 1vh 1vh;
    padding: 0 0 1.7vh 0;
    font-size: 1em;

    text-align: left;
}

.opened {
    font-weight: bold;
}

.code {
    grid-area: code;
    display: block;
    overflow: auto;
}

.code-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;

    height: 30px;
    width: 90%;
}

.code-bar button {
    border: none;
    position: relative;

    margin: 0;
    border-radius: 10px;

    font-size: 15px;
}

.code img {
    position: relative;
    top: 0.1em;
    width: 1em;
    height: 1em;
}

.code-editor {
    display: inline-flex;
    gap: 10px;
    border-radius: 2px;
    font-size: 1em;
    margin: 10px 0 10px 0;
    width: 100%;
}

.code textarea {
    font-size: 1em;
    line-height: 1.5em;
    font-family: var(--font);
    overflow-y: hidden;
    padding: 0 0 0 20px;
    border: 0;
    min-width: 500px;
    outline: none;
    resize: none;
    width: 100%;
}

.code .line-numbers {
    width: 20px;
    line-height: 1.5em;

    text-align: right;
}

.code .line-numbers span {
    counter-increment: linenumber;
    margin-bottom: 50px;
}

.code .line-numbers span::before {
    content: counter(linenumber);
    display: block;
}

.fragment {
    grid-area: fragment;

    display: flex;
    overflow: auto;
    font-size: 0.5em;

    padding: 1vh;
}

.tabs {
    grid-area: tabs;
    align-items: center;
    padding: 0;

    border-radius: 10px 0 0 10px;
}

.tabs-button {
    border: none;

    height: 100%;
    width: 15%;
    min-width: 80px;
    border-radius: 10px;

    font-size: 15px;
    text-align: center;
}

.tabs-button:hover, .tabs-button.active {
    width: 18%;
}

.options {
    background: #3B4252;
    grid-area: options;
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.options-item {
    margin: 5px;
}

::-webkit-scrollbar-track-piece {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
}
