{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'webIDE/Style/Layout.css' %}">
    <link rel="stylesheet" href="{% static 'webIDE/Style/FileTree.css' %}">
    <link rel="stylesheet" href="{% static 'webIDE/Style/Colors.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <title>Integrated Development Environment</title>
</head>
<body>
<div id="grid-container">
    <div class="menu">
        <button>File</button>
        <button>Edit</button>
        <button>Options</button>
        <button>View</button>
        <i id="dark-mode-toggle" class="bi bi-brightness-high-fill"></i>
    </div>
    <div class="files">
        <div class="files-bar">Project</div>
        <div class="files-content tree">
        <ul>
            <li><details>
                <summary><img src="{% static 'webIDE/Images/mac-folder.png' %}" class="folder" alt="">   cp2020</summary>
                <ul>
                    <li>
                        <details>
                            <summary><img src="{% static 'webIDE/Images/mac-folder.png' %}" class="folder" alt=""> base</summary>
                            <ul>
                                <li><img src="{% static 'webIDE/Images/mac-file.png' %}" class="file" alt="">  Workshop</li>
                                <li><img src="{% static 'webIDE/Images/mac-file.png' %}" class="file" alt="">  Workplace</li>
                                <li><img src="{% static 'webIDE/Images/mac-file.png' %}" class="file" alt="">  WorkplaceId</li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary><img src="{% static 'webIDE/Images/mac-folder.png' %}" class="folder" alt=""> demo</summary>
                            <ul>
                                <li><img src="{% static 'webIDE/Images/mac-file.png' %}" class="file" alt="">  ToysWorkshop</li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary><img src="{% static 'webIDE/Images/mac-folder.png' %}" class="folder" alt=""> solution</summary>
                            <ul>
                                <li><img src="{% static 'webIDE/Images/mac-file.png' %}" class="file" alt="">  Pair</li>
                                <li><img src="{% static 'webIDE/Images/mac-file.png' %}" class="file" alt="">  WorkplaceHolder</li>
                                <li><img src="{% static 'webIDE/Images/mac-file.png' %}" class="file" alt="">  Workshop</li>
                                <li><img src="{% static 'webIDE/Images/mac-file.png' %}" class="file" alt="">  WorkshopFactory</li>
                                <li><img src="{% static 'webIDE/Images/mac-file.png' %}" class="file" alt="">  test</li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <img src="{% static 'webIDE/Images/mac-file.png' %}" class="file" alt="">  cp2020.iml
                    </li>
                </ul>
            </details></li>
        </ul>
        </div>
    </div>
    <div class="code">
        <div class="code-bar">
        <button><img src="{% static 'webIDE/Images/mac-file.png' %}" class="file" alt="">  TroysWorkshop.java</button>
        </div>
        <div class="code-editor">
            <div class="line-numbers">
                <span></span>
            </div>
            <label for="code-textarea"></label><textarea id="code-textarea"></textarea>
        </div>
    </div>
    <div class="fragment">
        <div id="fragment-container"></div>
    </div>
    <div class="tabs">
        <button id="standard-button" class="tabs-button" onclick="openTab(null, 'standard')">Standard</button>
        <button id="optimisation-button" class="tabs-button" onclick="openTab(null, 'optimisation')">Optimisations</button>
        <button id="processor-button" class="tabs-button" onclick="openTab(null, 'processor')">Processor</button>
        <button id="dependent-button" class="tabs-button" onclick="openTab(null, 'dependent')">Dependent</button>
    </div>

    <div id="standard" class="options">
        <div class="options-item"><input type="radio" name="version" value="c++98" id="c++98">
            <label for="c++98">C++ 98</label></div>
        <div class="options-item"><input type="radio" name="version" value="c++11" id="c++11">
            <label for="c++11">C++ 11</label></div>
        <div class="options-item"><input type="radio" name="version" value="c++14" id="c++14">
            <label for="c++14">C++ 14</label></div>
        <div class="options-item"><input type="radio" name="version" value="c++17" id="c++17">
            <label for="c++17">C++ 17</label></div>
        <div class="options-item"><input type="radio" name="version" value="c++17" id="c++20">
            <label for="c++20">C++ 20</label></div>
        <div class="options-item"><input type="radio" name="version" value="c++17" id="c++23">
            <label for="c++23">C++ 23</label></div>
    </div>

    <div id="optimisation" class="options">
        <div class="options-item"><input type="checkbox" name="version" value="c++98" id="o2">
            <label for="o2">O2</label></div>
        <div class="options-item"><input type="checkbox" name="version" value="c++11" id="o3">
            <label for="o3">O3</label></div>
        <div class="options-item"><input type="checkbox" name="version" value="c++14" id="o7">
            <label for="o7">O7</label></div>
    </div>

    <div id="processor" class="options">
        <div class="options-item"><input type="radio" name="version" value="MCS51" id="mcs51" class="processor-radio">
            <label for="mcs51">MCS51</label></div>
        <div class="options-item"><input type="radio" name="version" value="Z80" id="z80" class="processor-radio">
            <label for="z80">Z80</label></div>
        <div class="options-item"><input type="radio" name="version" value="STM8" id="stm8" class="processor-radio">
            <label for="stm8">STM8</label></div>
    </div>

    <div id="dependent" class="options">
    </div>

    <div id="dependent-mcs51" class="options">
        MCS51
    </div>

    <div id="dependent-z80" class="options">
        Z80
    </div>

    <div id="dependent-stm8" class="options">
        STM8
    </div>

</div>

<script src="{% static 'webIDE/Scripts/Buttons.js' %}"></script>
<script src="{% static 'webIDE/Scripts/OpenTab.js' %}"></script>
<script src="{% static 'webIDE/Scripts/Mobile.js' %}"></script>
<script src="{% static 'webIDE/Scripts/CodeContainer.js' %}"></script>

</body>
</html>